@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {

}

html {
  font-family: "Edu VIC WA NT Beginner", system-ui;
  ::-webkit-scrollbar {
    display: none;
}
}